.graph-div {
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 249, 249, 0.03);
    /* ^ NEW IMPROVED DESIGN ^ */

    /* OLD */
    /* border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 249, 249, 0.51); */
}



#div1 {
    background: linear-gradient(232deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div2 {
    background: linear-gradient(101deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div3 {
    background: linear-gradient(334deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div4 {
    background: linear-gradient(17deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div5 {
    background: linear-gradient(122deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div6 {
    background: linear-gradient(298deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div7 {
    background: linear-gradient(28deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div8 {
    background: linear-gradient(155deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

#div9 {
    background: linear-gradient(310deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}


/* Wszytskie te gradienty z bg divów bo za dużo tego */