@font-face {
  font-family: Momcake;
  src: url(../assets/fonts/momcake-font/MomcakeBold-WyonA.otf);
}

@font-face {
  font-family: Timeburner;
  src: url(../assets/fonts/timeburner-font/Timeburner-xJB8.ttf);
}