* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

p {
    font-family: Timeburner;
}

h3 {
    font-family: Momcake;
}

html body {
    width: 100vw;
    min-height: 100vh;

}

main {
    display: flex;
    background: #2D359E;
    background: radial-gradient(circle, rgba(45, 53, 158, 1) 1%, rgba(14, 9, 30, 1) 100%);
}

aside {
    flex: 1 5 20%;
    /* height: 100vh; */
    background-color: red;
    flex-wrap: wrap;
}

/* GRID */
.grid {
    padding: 25px;
    height: 100vh;
    flex: 2 1 80%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(25, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid .div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9 {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 249, 249, 0.51);
    background: linear-gradient(232deg, rgba(104, 109, 189, .1) 1%, rgb(80 60 147) 100%);
}

.row {
    grid-area: 1 / 1 / 4 / 21;
    display: flex;
}

/* div1 */

.div1 {
    grid-area: 1 / 1 / 4 / 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.div1 .text {
    margin-left: 5px;
}

.div1 h3 {
    font-size: 1.8rem;
    color: #FFF;
}

.div1 p {
    color: #a0aec0;
}

.div1 .icon {
    background-color: #0662cf;
    padding: 10px;
    border-radius: 15px;
}

.div1 .text-bottom {
    display: flex;
    align-items: center;
}

.div1 .text-bottom span,
.div2 .text-bottom span,
.div3 .text-bottom span,
.div4 .text-bottom span {
    margin-left: 7px;
    color: #01B574;
    /* dynamicznie kolor */
    font-family: Momcake;
    font-size: 125%;
}

/* div2 */

.div2 {
    grid-area: 1 / 6 / 4 / 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}



.div2 .text {
    margin-left: 5px;
}

.div2 h3 {
    font-size: 1.8rem;
    color: #FFF;
}

.div2 p {
    color: #a0aec0;
}

.div2 .icon {
    background-color: #0075FF;
    padding: 10px;
    border-radius: 15px;
}

.div2 .text-bottom {
    display: flex;
    align-items: center;
}

/* div3 */

.div3 {
    grid-area: 1 / 11 / 4 / 16;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.div3 .text {
    margin-left: 5px;
}

.div3 h3 {
    font-size: 1.8rem;
    color: #FFF;
}

.div3 p {
    color: #a0aec0;
}

.div3 .icon {
    background-color: #0075FF;
    padding: 10px;
    border-radius: 15px;
}

.div3 .text-bottom {
    display: flex;
    align-items: center;
}

/* div4 */

.div4 {
    grid-area: 1 / 16 / 4 / 21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.div4 .text {
    margin-left: 5px;
}

.div4 h3 {
    font-size: 1.8rem;
    color: #FFF;
}

.div4 p {
    color: #a0aec0;
}

.div4 .icon {
    background-color: #0075FF;
    padding: 10px;
    border-radius: 15px;
}

.div4 .text-bottom {
    display: flex;
    align-items: center;
}

.div5 {
    grid-area: 4 / 1 / 14 / 10;
    /* background-color: rgba(55, 12, 156, 0.171); */
}

.div6 {
    grid-area: 4 / 10 / 14 / 15;

}

.div7 {
    grid-area: 4 / 15 / 14 / 21;

}

.div8 {
    grid-area: 14 / 1 / 26 / 13;

}

.div9 {
    grid-area: 14 / 13 / 26 / 21;

}



@media (max-width:1440px) {
    main {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }




}

/* 
@media (max-width: 960px) {
    .grid {
    padding: 25px;
    background-color: black;
    height: 100vh;
    flex: 2 1 80%;
    display: flex;
    flex-direction: column;
}

   .row {
    display: flex;
   }

.row div {
    flex: 1 5 50%;
}
} */