/* animacja dla całego diva */
@keyframes slideDownBlur {
    from {
        transform: translateY(-20px);
        opacity: 0;
        filter: blur(8px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

/* do contentu */
@keyframes contentFade {
    from {
        transform: translateY(-10px);
        opacity: 0;
        filter: blur(6px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0);
    }
}

.graph-div {
    opacity: 0;
    animation: slideDownBlur 0.8s ease forwards;
    transition-duration: .5s;
}

.text,
.icon {
    opacity: 0;
    animation: contentFade 0.8s ease forwards;
    animation-delay: .6s;
    /* delay dla contentu */
    transition-duration: .5s;
}

#div1 {
    animation-delay: 0s;
}

#div2 {
    animation-delay: 0.1s;
}

#div3 {
    animation-delay: 0.2s;
}

#div4 {
    animation-delay: 0.3s;
}

#div5 {
    animation-delay: 0.4s;
}

#div6 {
    animation-delay: 0.5s;
}

#div7 {
    animation-delay: 0.6s;
}

#div8 {
    animation-delay: 0.7s;
}

#div9 {
    animation-delay: 0.8s;
}

.icon:hover {
    cursor: pointer;
}

/* do hoverów */
.graph-div {
    transition: all 0.4s ease;
}

.graph-div:hover {
    box-shadow: 0 0px 60px rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(50px);
    transition-duration: .3s;
}


.graph-div:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.25);
  transition-duration: .3s;
  transition-timing-function: ease;
}

.graph-div:hover .icon{
  box-shadow: 0 0 24px rgba(6, 98, 207, 0.7);
  transition: box-shadow .3s ease;
}