@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html body {
    width: 100vw;
    min-height: 100vh;
    font-family: "Google Sans Code", monospace;
    background: radial-gradient(circle, rgba(45, 53, 158, 1) 1%, rgba(14, 9, 30, 1) 100%);
}

main {
    display: flex;
    background: transparent; /* już mamy tło na body */
}

aside {
    flex: 1 5 15%;
    max-width: 250px;
    flex-wrap: wrap;
}

/* GRID */
.grid {
    padding: 25px;
    height: 100vh;
    flex: 2 1 80%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(25, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.row {
    grid-area: 1 / 1 / 4 / 21;
    justify-content: space-between;
    display: flex;
}

#div1, #div2, #div3, #div4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#div1 {
    margin: 0 10px 0 0;
}

#div2 {
    margin: 0 10px;
}

#div3 {
    margin: 0 10px;
}

#div4 {
    margin: 0 0 0 10px;
}

.text {
    margin: 5px;
}

.data-value {
    font-size: 1.8rem;
    color: #eeeeee;
}

.subhead {
    color: #a1a6ad;
    font-family: "Fredoka", sans-serif;
    font-size: 110%;
}

.icon {
    background-color: #0662cf;
    padding: 10px;
    border-radius: 15px;
}

.text-bottom {
    display: flex;
    align-items: center;
}

#growth-revenue,
#growth-users,
#decrease-clients,
#growth-sales {
    margin-left: 7px;
    color: #01B574;
    font-family: Momcake;
    font-size: 125%;
}

#div5 {
    grid-area: 4 / 1 / 14 / 10;
}

#div6 {
    grid-area: 4 / 10 / 14 / 15;
    padding: 30px;
}

#div7 {
    grid-area: 4 / 15 / 14 / 21;
}

#div8 {
    grid-area: 14 / 1 / 26 / 13;
    padding: 30px;
}

#div9 {
    grid-area: 14 / 13 / 26 / 21;
}

/* MEDIA QUERIES */

@media (max-width:1440px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width:1200px) {
    aside {
        display: none;
    }
}

@media (max-width: 960px) {
    .grid {
        padding: 25px;
        height: 100vh;
        flex: 2 1 80%;
        display: flex;
        flex-direction: column;
    }

    .row {
        flex-wrap: wrap;
    }

    #div1, #div2, #div3, #div4 {
        margin: 5px 5px;
        flex: 1 1 45%;
    }

    #div5 {
        padding: 20px;
    }

    .graph5-content {
        min-height: 100%;
    }

    .graph6-content {
        width: 100%;
        height: 150%;
        margin: 10px;
    }

    .aside-wrapper {
        /* justify-content: flex-start; */
        flex-direction: column;
        /* display: flex; */
    }

    #div6 {
        height: 1000000px;
    }
}
